@model   HomeModel;

<h1>Meu primeiro Projeto ASP.NET CORE MVC</h1>

<table border="1">
    <tr>
        <td>id </td>
        <td>Nome</td>
    </tr>


    @{
        foreach (var item in (List<HomeModel>)ViewBag.Lista)
        {
            <tr>
                <td>@item.Id.ToString()</td>
                <td>@item.Nome.ToString()</td>
            </tr>
        }
    }

</table>